<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Year of manufacture</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.brand %></td>
        <td><%= car.year_of_manufacture %></td>
        <td><%= car.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
<br>
<%= link_to 'Scaping', welcome_parser_path %>
<br>
<%= link_to 'Parsing Head Hunter', welcome_hhunter_path %>
<br>
<%= link_to 'Create P1', pages_p1_path %>
<br>
<%= link_to 'Create P2', pages_p2_path %>
<br>
<%= link_to 'Create P3', pages_p3_path %>

